h1 {
text-align: center;
}

.app {
    border: 1px solid black;
    margin: 10px;
}

.new-student-input {
    border: 1px solid black;
    margin: 10px;
}

.student-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 100px;
}

.student-info-last {
    display: grid;
    grid-row: auto;
}